:root {
    --button-background-color: rgb(27, 27, 40);
}

.banner{
    background-image: linear-gradient(to right, rgb(231, 124, 152) , rgb(242, 9, 149));
    left: 0px;
    right: 0px;
    top: 0px;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tangerine', serif;
    font-size: 50px;
    text-shadow: 1px 1px 5px black;
}


.top-menu{
    background-image: linear-gradient(to right, rgb(231, 124, 152) , rgb(242, 9, 149));
    left: 0px;
    right: 0px;
    height: 30px;
    top: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-image: linear-gradient(to right, rgb(231, 124, 152) , rgb(242, 9, 149));
    box-shadow: 1px 1px 1px rgb(145, 23, 23);
    z-index: 12;

    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}

/* Dropdown Button */
.dropbtn{
    background-color: var(--button-background-color);
    color: white;
    padding: 0;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    width: 150px;
    margin-right: 5px;
    transition: 1s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    background-color: rgb(27, 27, 40);
    
    padding-right: 19px;
    padding-left: 20px;
    width: 110px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 2.6;
    transition: all 1s ease-in;
    overflow:hidden;
    height:0;


}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    height:140px;
}


/* Links inside the dropdown */
.dropdown-content a {
    text-decoration: none;
    display: block;
    background-color: rgb(67, 67, 65);
    color: white;
    font-size: 12.5px;
    padding-left: 6px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(62, 60, 60);
    /*box-shadow: 1px 1px lightblue;*/
} 

.dropdown-content a:hover {
    background-color: var(--button-background-color);
    transition: 0.1s;
}



.dropdown:hover .dropbtn {
    background-color: rgb(68, 68, 66);
    color:  white;
    transition: 0.1s;
}


.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 3s ease-out;
}

.mainmenu li:hover .submenu {

    display: block;
    max-height: 200px;
    padding: 10px;
}




body {
    height: 1900px; padding-top: 115px;padding-left: 142px;
}

.left-menu{
    top: 110px;
    left: 0px;
    width: 200px;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(27, 27, 40);
    position: fixed;
}

.left-menu li{
    margin-bottom: 25px;
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.left-menu a{
    text-decoration: none;
    color: black;
}


.central-brief-message{
 /*   background-color: orange;*/
    position: fixed;
    height: 5px;
    right: 0px;
    left: 150px;
    top: 110px;
}

.central-content{
    /*width: 750px;*/
    right: 0px;
    height: 2000px;
    /*background-color: yellow; */   
    position: static;
    height:fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding-left: 100px;
    padding-right: 100px;

}

.central-form{
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    column-gap: 5px;
    row-gap: 10px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 5px;
    background-color: #f2f2f2;
    
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 20px;
}

.central-form label{
    padding: 2px 2px 2px 0;
    display: inline-block;
}

.central-form input,select, textarea{
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.central-form input[type=submit]{
    background-color:  rgb(60, 60, 67);
    color: white;
    padding: 6px 10px;
    width: 100px;
    border-radius: 4px;
    border-color: white;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: 540;
}

.central-appointment{
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 20px;

    padding: 6px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
}

.central-employee{
    width: 600px;
    height: 150px;

    margin-left: 100px;
    margin-right: 400px;
    margin-top: 20px;

    padding: 6px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-between;
}

.thumbnail{
    background-color: rgb(251, 252, 248);
    
    height: 200px;
    padding-left:  10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thumbnail-image{
   /* background-color: rgb(25, 0, 190);*/
    padding-bottom: 10px;
    width: 100%;
    height:70%

}

.thumbnail-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid black;
}

.thumbnail-description{
   /* background-color: brown;*/
   border-top-style: solid;
   border-top-width: 1px;
   border-top-color: black;
    width: 100%;
    height: 30%;
    display: flex;
    padding-top: 10px;
}


.thumbnail-description p {
    margin-top: 0px ;
    margin-bottom: 0px ; 
    
} 

.customer-post{
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .central-appointment{
        margin-right: 60px;
    }

    .central-form{
        margin-right: 200px;
    }
}



