@keyframes slideLeft{
    from{
        transform: translateX(-350px);
    }

    to{
        transform: translateX(0px);
    }
}

.coupon{
    text-align: center;
    padding-top: 50px;
}

.coupon1, .coupon2, .coupon3{
    padding: 10px;
    letter-spacing: 3px;
}

.coupon1{
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 2;
    anination-direction: normal;


}

.coupon2{
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: reverse;


}