:root {
    --test-border-color: transparent;
}

.modules-wrapper{
    display: block;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.top{
    border: 4px solid var(--test-border-color);
    margin-left: 100px;
    margin-bottom: 0px;
    height:150px;
}

.center{
    display: flex;
    border: 1px solid var(--test-border-color);
}   

.picture{
    margin-left: 100px;
    width: 70%; 
} 
  
.picture img{  
    width: 100%;
    height: 100%;
}

.picture-description{
    width: 40%; 
    height: 100%;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 20px;
    text-indent: 50px;
    font-size: 1.2vw;
    font-family: 'Roboto',sans-serif;
    line-height: 1.6;
}

.modules-wrapper > div > div > p{
    font-size: 20px;
}

.modules-wrapper > div > div > p {
    &:nth-child(2) {
        font-size: 30px;font-family: Sofia, sans-serif;
    }
}

.modules-wrapper > div{
    &:nth-child(2) {
        border: 1px solid var(--test-border-color);
        margin-left: 100px;
        margin-bottom: 0px;
        height:150px;
    }
}









