<html lang="us">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="not-found contents">
            <h2>Oops</h2>
                
        </div>        
    </body>
    <%- include('./partials/footer.ejs') %>
</html>