<div class="coupon" id="coupon">
    <div class="coupon1"><h1>Happy Hour $1 set</h1></div>
    <div class="coupon2"><h3>$20 off $50</h3></div>
    <div class="coupon3"><h2>Buy 1 get 0 Free</h2></div>
</div>