<div class="modules-wrapper" id="modules-wrapper">
    <div class="wrapper">
        <div class="top">
            <p>Trending Nail 2023 - 2024</p>
            <p>Our collections - And Our Promotions</p>
        </div>

        <div>
            <div class="center">
                <div class="picture">
                    <img src="indexphoto.png">
                </div>

                <div class="picture-description">
                    
                    Cuong & Ty provides excellent nail service.  We are so thrilled with 
                our career that we can offer offsite work.  Cuong & Ty provides excellent nail service. 
                We are so thrilled with  our career that we can offer offsite work. 
                Cuong & Ty provides excellent nail service.  We are so thrilled with 
                our career that we can offer offsite work.  Cuong & Ty provides excellent nail service. 
                We are so thrilled with  our career that we can offer offsite work. 
                Cuong & Ty provides excellent nail service.  We are so thrilled with 
                our career that we can offer offsite work.  Cuong & Ty provides excellent nail service. 
                We are so thrilled with  our career that we can offer offsite work. 
                </div>
            </div>
        </div>
    </div>

    <script>
        var bannerHeight = document.getElementById("main").offsetHeight;
        document.getElementById("modules-wrapper").style.marginTop =bannerHeight;
    </script>

</div>

