

<div id="product-section" class="product-section">
    <p id="title" class="title">Our Product</p>
    <div id="gallary-wrap" class="gallary-wrap">
        <button class="left" id="left"><i class="fa fa-arrow-circle-left"></i></button>
        <div class="gallary-1" id="gallary-1">
            <img src="nailPic1.jpg">
            <img src="nailPic1.jpg">
            <img src="nailPic1.jpg">
        </div>
        <div  class="gallary-2" id="gallary-2">
            <img src="nailPic2.jpg">
            <img src="nailPic2.jpg">
            <img src="nailPic2.jpg">
        </div>
        <div  class="gallary-3" id="gallary-3">
            <img src="nailPic3.jpg">
            <img src="nailPic3.jpg">
            <img src="nailPic3.jpg">
        </div>
        <button class="right" id="right"><i class="fa fa-arrow-circle-right"></i></button>
    </div>
</div>

<script>
    window.onload = function () {//initial loading
        document.getElementById("gallary-2").style.display = 'none';
        document.getElementById("gallary-3").style.display = 'none';
    }

    let currentIndex = 1;
    let lastIndex = 2;

    document.getElementById("right").addEventListener(
        "click",() => {
            
            if(currentIndex == lastIndex){
                //Do nothing
            }else{
                document.getElementById("gallary-1").style.display = 'none';
                document.getElementById("gallary-2").style.display = 'flex';

                document.getElementById("gallary-2").style.opacity = 0;
                let opacity = 0;
                setInterval(() => {
                    document.getElementById("gallary-2").style.opacity = opacity;
                    opacity += 0.01;
                }, 10);
            }
        }
    )

    document.getElementById("left").addEventListener(
        "click",() => {
            if(currentIndex == 0){
                //do nothing
            }else{ 
                document.getElementById("gallary-2").style.display = 'none';
                document.getElementById("gallary-1").style.display = 'flex';
                
                document.getElementById("gallary-1").style.opacity = 0;
                let opacity = 0;
                setInterval(() => {
                    document.getElementById("gallary-1").style.opacity = opacity;
                    opacity += 0.01;
                }, 10);
                
                
                
            }
            
        }
    )
</script>