<div id="team-section" class="team-section">
    <p id="title" class="title">Management team</p>
    <div id="team" class="team">
        <div id="team-detail" class="team-detail">
            <img src="nailPic1.jpg">
            <p id="name">Jane</p>
            <p id="describtion">CEO and Founder</p>
            <p id="email">jane@nonthing.not</p>
            <p id="contact"><button id="button-contact">CONTACT</button></p>
        </div>
   
        <div id="team-detail" class="team-detail">
            <img src="nailPic2.jpg">
            <p id="name">Miller</p>
            <p id="describtion">Co-founder</p>
            <p id="email">miller@nonthing.not</p>
            <p id="contact"><button id="button-contact">CONTACT</button></p>
        </div>
    
        <div id="team-detail" class="team-detail">
            <img src="nailPic1.jpg">
            <p id="name">Joe</p>
            <p id="describtion">Co-founder</p>
            <p id="email">joe@nothingnont.not</p>
            <p id="contact"><button id="button-contact">CONTACT</button></p>
        </div>

        <div id="team-detail" class="team-detail">
            <img src="nailPic2.jpg">
            <p id="name">Phillip</p>
            <p id="describtion">President</p>
            <p id="email">npnguyen@nothingnont.not</p>
            <p id="contact"><button id="button-contact">CONTACT</button></p>
        </div>
    </div>
</div>