<html lang="us">
<%- include('./include/header.ejs') %>
<body>
    <%- include('./include/top.ejs')  %>
    <%- include('./include/center_left_nav.ejs')  %>
    <div class="central-brief-message"></div>
    <div class="central-content">
        <div class="thumbnail">
           <div class="thumbnail-image">
                <img src="nailPic1.jpg">
           </div>
           <div class="thumbnail-description">
                Style: stupid style
                <br>Color: stupid color
           </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
           <div class="thumbnail-description">
            <p>Style: stupid style</p>
            <p>Color: stupid color</p>
           </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
           <div class="thumbnail-description">
                <p>Style: stupid style</p>
                <p>Color: stupid color</p>
           </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
           <div class="thumbnail-description">
                <p>Style: stupid style</p>
                <p>Color: stupid color</p>
           </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description">
                 <p>Style: stupid style</p>
                 <p>Color: stupid color</p>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
           <div class="thumbnail-description">
                <p>Style: stupid style</p>
                <p>Color: stupid color</p>
           </div>
        </div>
    </div>
    <%- include('./include/termAgreement.ejs') %>
</body>
</html>
