<div class="service-combo" id="service-combo">
    <div class="service-combo-content">
        <div class="thumbnail">
        <div class="thumbnail-image">
                <img src="nailPic1.jpg">
        </div>
        <div class="thumbnail-description">
                Style: Combo Hand Foot style I
                <br>Color: stupid color
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
        <div class="thumbnail-description">
            <p>Style: Combo Hand Big Feet Style</p>
            <p>Color: stupid color</p>
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
        <div class="thumbnail-description">
                <p>Style: Combo Hand Medium Feet</p>
                <p>Color: stupid color</p>
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
        <div class="thumbnail-description">
                <p>Style: Combo Hand Small Feet</p>
                <p>Color: stupid color</p>
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description">
                <p>Style: Combo Hand Giant Feet</p>
                <p>Color: stupid color</p>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
        <div class="thumbnail-description">
                <p>Style: Combo Hand Weird Feet</p>
                <p>Color: stupid color</p>
        </div>
        </div>
    </div>
</div>
