<div class="service-foot" id="service-foot">   
    <div class="service-foot-content">
        <div class="thumbnail">
        <div class="thumbnail-image">
                <img src="nailPic1.jpg">
        </div>
        <div class="thumbnail-description">
                Style: Foot style I
                <br>Color: stupid color
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
        <div class="thumbnail-description">
            <p>Style: Big Feet Style</p>
            <p>Color: stupid color</p>
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
        <div class="thumbnail-description">
                <p>Style: Medium Feet</p>
                <p>Color: stupid color</p>
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
        <div class="thumbnail-description">
                <p>Style: Small Feet</p>
                <p>Color: stupid color</p>
        </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description">
                <p>Style: Giant Feet</p>
                <p>Color: stupid color</p>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic2.jpg">
            </div>
        <div class="thumbnail-description">
                <p>Style: Weird Feet</p>
                <p>Color: stupid color</p>
        </div>
        </div>
    </div>
</div>