<div class="service-hand" id="service-hand">
    <div class="service-hand-content" id="service-hand-content">
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description" id="thumbnail-description">
                <div>
                    <span>Almond Nails</span>
                    <span>$40</span>
                </div>
                <div>
                    <span>
                        Almond nails were born in the 90s, but they are still modern today. 
                        The shape is less extreme than the stiletto nail shape. 
                        It will be better if you use nail extensions to keep your nails long and 
                        add strength to your almond nails.
                    </span>
                </div>
                <div>
                    <button class="button-booknow" id="button-booknow">Book Now</button>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description" id="thumbnail-description">
                <div>
                    <span>Squoval Nails</span>
                    <span>$55</span>
                </div>
                <div>
                    <span>
                        Squoval Nails are similar to the square and the oval nail shape. 
                        They are a great choice for both long and short nails and fingers. 
                        Manicurists file the nails into a square shape, but they round off 
                        the corners in order to get a lighter effect.
                    </span>
                </div>
                <div>
                    <button class="button-booknow" id="button-booknow">Book Now</button>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description" id="thumbnail-description">
                <div>
                    <span>Coffin Nails</span>
                    <span>$35</span>
                </div>
                <div>
                    <span>
                        It is no secret coffin nails are a favourite of many Instagram stars. 
                        So, if you are into social media, this is the right nail shape for you. 
                        As coffin nails can break easily, it is recommended to get nail extensions.
                    </span>
                </div>
                <div>
                    <button class="button-booknow" id="button-booknow">Book Now</button>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description" id="thumbnail-description">
                <div>
                    <span>Stiletto Nails</span>
                    <span>$20</span>
                </div>
                <div>
                    <span>
                        Stiletto nails are probably the favourite nail shapes of the celebrities. 
                        They work best for long nails, and you will have to add nail extensions. 
                        Stiletto nails are long and very sharp.
                    </span>
                </div>
                <div>
                    <button class="button-booknow" id="button-booknow">Book Now</button>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description" id="thumbnail-description">
                <div>
                    <span>Almond Nails</span>
                    <span>$40</span>
                </div>
                <div>
                    <span>
                        Almond nails were born in the 90s, but they are still modern today. 
                        The shape is less extreme than the stiletto nail shape. 
                        It will be better if you use nail extensions to keep your nails long and 
                        add strength to your almond nails.
                    </span>
                </div>
                <div>
                    <button class="button-booknow" id="button-booknow">Book Now</button>
                </div>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-image">
                <img src="nailPic1.jpg">
            </div>
            <div class="thumbnail-description" id="thumbnail-description">
                <div>
                    <span>Oval Nails</span>
                    <span>$60</span>
                </div>
                <div>
                    <span>
                        Oval nails are always in trend. They are appropriate for both long and short nails. 
                        Although they look fierce, oval nails are vulnerable. They might break easily, so you 
                        have to be careful what you touch and do with your hands.
                </div>
                <div>
                    <button class="button-booknow" id="button-booknow">Book Now</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var bannerHeight = document.getElementById("main").offsetHeight;
        document.getElementById("service-hand").style.marginTop =bannerHeight;
    </script>
</div>