<div class="left-menu">
    <div style="
        color: white; 
        font-size: 14px ;
        border-bottom: 2px solid rgb(119, 116, 116);
        padding-left: 10px;
    ">
        <p><i class='fa fa-map-marker' style='font-size:24px;color:red;padding-right: 10px;'></i>19956 Gilmore St
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Van Nuys CA 91306</p>
        <p><i class="fa fa-clock-o" style="font-size:20px;color:red;padding-right: 10px;top: 5px;"></i>M - F 8:00AM - 5:00PM</p>
        <p><i class="fa fa-phone" style="font-size:20px;color:red;padding-right: 10px;top: 5px;"></i>818-777-1111</p>
    </div>
    <div style="padding: 5px;font-size: 30px;font-weight: bold;color: white;padding-top: 10px;padding-left: 10px;">Follow us on social media</div>
    <div style="color: white">
        <ul>
            <li style="padding-top: 40px"><a href="https://www.facebook.com/"><img src="facebookIcon.png" style="width: 120px;height: 25px;" target="_blank"></a></li>
            <li><a href="https://twitter.com/?lang=en"><img src="twitterIcon.png" style="width: 120px;height: 25px;" target="_blank"></a></li>
            <li><a href="https://www.instagram.com/"><img src="instagramIcon.jpg" style="width: 120px;height: 25px;" target="_blank"></a></li>
            <li><a href="https://www.tiktok.com/en/"><img src="tiktokIcon.png" style="width: 120px;height: 25px;" target="_blank"></a></li>
        </ul>
    </div>
</div>