<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width,initial_scale=1.0">
    <link rel="stylesheet" href="/index_main.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/popup.css">
    <link rel="stylesheet" href="/calendar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Sofia|outline|emboss|shadow-multiple|Tangerine|Trirong">
    <script src="/calendar.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title><%= title %></title>

</head>