<div class="main" id="main">
    <div class="main-banner" id="main-banner">
        Cuong & Ty Nail Salon
    </div>
    <div class="main-menu" id="main-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><%- include('./dropDownServiceMenu.ejs')  %></li>
            <li><a href="appointment">Book</a></li>
            <li><a href="sfaff">Staff</a></li>
            <li><a href="myAppointment">My Appointment</a></li>
            <li><a href="about">About</a></li>
            <li><i class="fa fa-search" style="font-size:15px;border: 1px solid yellow;"></i></li>
        </ul>
    </div>

    <script>
        var bannerHeight = document.getElementById("main").offsetHeight;
        document.documentElement.style.setProperty('--banner-width', bannerHeight);
        var h = window.getComputedStyle(document.documentElement.getPropertyValue('--banner-width'));
    </script>
</div>



<script>
    document.getElementById("dropbtn").addEventListener(
        "click",() => {
            let isLogin = <%= title %>;
            if(!isLogin){
                document.getElementById("dropdown-content").style.display = 'none'
            }
        }
    )

    document.getElementById("dropbtn").addEventListener(
        "mouseover",() => {
            document.getElementById("dropdown-content").style.height = "100px";
        }
    )


</script>